# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Database
*.db

# Logs
logs/
*.log

# VS Code
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db
data/raw/*.csv